@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  min-height: 100vh;
  color: white;
  background: url(./image/Glass\ morphism\ background.jfif) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  min-width: 350px;
  height: 400px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.11);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0.5rem;
}
.card img {
  width: 150px;
  height: 150px;
  border: 4px solid white;
  border-radius: 50%;
}
.card img.female {
  border: 4px solid pink;
}
.card h1 {
  margin: 0.5rem 0;
}
.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}
.buttons button {
  height: 3rem;
  color: white;
  background: transparent;
  border: 0.1rem solid white;
  border-radius: 0.3rem;
  font-weight: 700;
  cursor: pointer;
}
.buttons button:hover {
  background: rgba(255, 255, 255, 0.3);
}
.buttons button:active {
  background: rgba(0, 0, 0, 0.205);
}
.buttons .follow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.buttons.active .follow {
  background: rgba(255, 0, 0, 0.7);
}
@media (max-width: 426px) {
  .card {
    max-width: 425px;
    min-width: 300px;
    padding: 1rem;
    margin: 1rem;
  }
  .buttons {
    display: grid;
    grid-template-columns: auto auto;
  }
}
